In [62]:
import numpy as np
import pandas as pd

# Data Structures in Pandas

## Pandas makes use of two different data structures
    *Series
    *Data Frame
    
### Series represents data in a 1D form while data frames represent data in a 2D tabular form

In [63]:
#pandas Series: one-dimensional array with labels

In [64]:
#obtain series from Python dictionaries (data structure for storing key-value pairs)
# keys of dictionaries act as index or label for values
dict={'a' : 3, 'b' : 'cat', 'c' : 2.5}
pd.Series(dict) #

a      3
b    cat
c    2.5
dtype: object

In [65]:
oneD = pd.Series([100, 'cat', 310, 'gog', 500],index = ['Amy','Bobby','Cat','Don','Emma']) #the second list contain index
#index are label of values(elements of first list)
print(oneD)

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [66]:
#loc is a label-location based indexer for selection by labels
#output has index values with corresponding data values
oneD.loc[['Cat','Emma']]

Cat     310
Emma    500
dtype: object

In [67]:
#extracting index and data values using numerical index values
oneD[[0,3,4]]

Amy     100
Don     gog
Emma    500
dtype: object

In [68]:
#iloc is primarily integer position based way of accssing data
oneD.iloc[1] #access index 1

'cat'

In [69]:
#check if there is a cat in the series "index"

'cat' in oneD

False

In [70]:
'Cat' in oneD

True

In [71]:
#DataFrames- 2D data structure. Stores data in tabular form (rows and columns)
#<class 'pandas.core.frame.DataFrame'>

In [72]:
d = {'A' : pd.Series([100.,200.,300.], index = ['apple','pear','orange']),
     'B' : pd.Series([111.,222.,333.,444], index = ['apple','pear','orange','melon'])
}
#print(d)

In [73]:
df = pd.DataFrame(d)
print(df)

            A      B
apple   100.0  111.0
melon     NaN  444.0
orange  300.0  333.0
pear    200.0  222.0

In [74]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [75]:
print(df.index) #list index values

Index(['apple', 'melon', 'orange', 'pear'], dtype='object')

In [76]:
df.columns #column names

Index(['A', 'B'], dtype='object')

In [77]:
#specify which row/index and column we want to retain
pd.DataFrame(df, index=['orange', 'melon', 'apple'], columns=['A'])

            A
orange  300.0
melon     NaN
apple   100.0