## Read in HTML data

In [15]:
import pandas as pd
import html5lib

### Specify the html to be read in

In [16]:
uss=pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

In [17]:
print(type(uss)) # #this is a list of dataframes

<class 'list'>

In [18]:
u = uss[0] #grab dataframe from index 0
print(type(u))

<class 'pandas.core.frame.DataFrame'>

### another url

In [19]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

dfs = pd.read_html(url) #this is a list of dataframes

print(type(dfs))

<class 'list'>

In [20]:
df = dfs[0] #list of dataframes
print(df)

                                             Bank Name                City  \
0                  Washington Federal Bank for Savings             Chicago
1      The Farmers and Merchants State Bank of Argonia             Argonia
2                                  Fayette County Bank          Saint Elmo
3    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
4                                       First NBC Bank         New Orleans
5                                        Proficio Bank  Cottonwood Heights
6                        Seaway Bank and Trust Company             Chicago
7                               Harvest Community Bank          Pennsville
8                                          Allied Bank            Mulberry
9                         The Woodbury Banking Company            Woodbury
10                              First CornerStone Bank     King of Prussia
11                                  Trust Company Bank             Memphis
12                          North Milwaukee State Bank           Milwaukee
13                              Hometown National Bank            Longview
14                                 The Bank of Georgia      Peachtree City
15                                        Premier Bank              Denver
16                                      Edgebrook Bank             Chicago
17                              Doral Bank  En Espanol            San Juan
18                   Capitol City Bank & Trust Company             Atlanta
19                             Highland Community Bank             Chicago
20                    First National Bank of Crestview           Crestview
21                                  Northern Star Bank             Mankato
22              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
23               The National Republic Bank of Chicago             Chicago
24                                      NBRS Financial          Rising Sun
25                               GreenChoice Bank, fsb             Chicago
26                            Eastside Commercial Bank             Conyers
27                              The Freedom State Bank             Freedom
28                                         Valley Bank     Fort Lauderdale
29                                         Valley Bank              Moline
..                                                 ...                 ...
525                                  ANB Financial, NA         Bentonville
526                                          Hume Bank                Hume
527                             Douglass National Bank         Kansas City
528                                  Miami Valley Bank            Lakeview
529                                            NetBank          Alpharetta
530                          Metropolitan Savings Bank          Pittsburgh
531                                    Bank of Ephraim             Ephraim
532                                      Reliance Bank        White Plains
533              Guaranty National Bank of Tallahassee         Tallahassee
534                                Dollar Savings Bank              Newark
535                               Pulaski Savings Bank        Philadelphia
536              First National Bank of Blanchardville      Blanchardville
537                              Southern Pacific Bank            Torrance
538                        Farmers Bank of Cheneyville         Cheneyville
539                                      Bank of Alamo               Alamo
540             AmTrade International Bank  En Espanol             Atlanta
541                     Universal Federal Savings Bank             Chicago
542                       Connecticut Bank of Commerce            Stamford
543                                   New Century Bank     Shelby Township
544                              Net 1st National Bank          Boca Raton
545                                       NextBank, NA             Phoenix
546                           Oakwood Deposit Bank Co.             Oakwood
547                              Bank of Sierra Blanca       Sierra Blanca
548                      Hamilton Bank, NA  En Espanol               Miami
549                             Sinclair National Bank            Gravette
550                                 Superior Bank, FSB            Hinsdale
551                                Malta National Bank               Malta
552                    First Alliance Bank & Trust Co.          Manchester
553                  National State Bank of Metropolis          Metropolis
554                                   Bank of Honolulu            Honolulu

     ST   CERT                Acquiring Institution        Closing Date  \
0    IL  30570                   Royal Savings Bank   December 15, 2017
1    KS  17719                          Conway Bank    October 13, 2017
2    IL   1802            United Fidelity Bank, fsb        May 26, 2017
3    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
4    LA  58302                         Whitney Bank      April 28, 2017
5    UT  35495                    Cache Valley Bank       March 3, 2017
6    IL  19328                  State Bank of Texas    January 27, 2017
7    NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
8    AR     91                         Today's Bank  September 23, 2016
9    GA  11297                          United Bank     August 19, 2016
10   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
11   TN   9956           The Bank of Fayette County      April 29, 2016
12   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
13   WA  35156                       Twin City Bank     October 2, 2015
14   GA  35259                        Fidelity Bank     October 2, 2015
15   CO  34112            United Fidelity Bank, fsb       July 10, 2015
16   IL  57772             Republic Bank of Chicago         May 8, 2015
17   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
18   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
19   IL  20290            United Fidelity Bank, fsb    January 23, 2015
20   FL  17557                       First NBC Bank    January 16, 2015
21   MN  34983                            BankVista   December 19, 2014
22   CA  34738    Bank of Southern California, N.A.    November 7, 2014
23   IL    916                  State Bank of Texas    October 24, 2014
24   MD   4862                          Howard Bank    October 17, 2014
25   IL  28462                 Providence Bank, LLC       July 25, 2014
26   GA  58125            Community & Southern Bank       July 18, 2014
27   OK  12483      Alva State Bank & Trust Company       June 27, 2014
28   FL  21793  Landmark Bank, National Association       June 20, 2014
29   IL  10450                  Great Southern Bank       June 20, 2014
..   ..    ...                                  ...                 ...
525  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
526  MO   1971                        Security Bank       March 7, 2008
527  MO  24660       Liberty Bank and Trust Company    January 25, 2008
528  OH  16848         The Citizens Banking Company     October 4, 2007
529  GA  32575                           ING DIRECT  September 28, 2007
530  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
531  UT   1249                        Far West Bank       June 25, 2004
532  NY  26778                     Union State Bank      March 19, 2004
533  FL  26838              Hancock Bank of Florida      March 12, 2004
534  NJ  31330                          No Acquirer   February 14, 2004
535  PA  27203                       Earthstar Bank   November 14, 2003
536  WI  11639                        The Park Bank         May 9, 2003
537  CA  27094                            Beal Bank    February 7, 2003
538  LA  16445            Sabine State Bank & Trust   December 17, 2002
539  TN   9961                          No Acquirer    November 8, 2002
540  GA  33784                          No Acquirer  September 30, 2002
541  IL  29355               Chicago Community Bank       June 27, 2002
542  CT  19183                   Hudson United Bank       June 26, 2002
543  MI  34979                          No Acquirer      March 28, 2002
544  FL  26652                       Bank Leumi USA       March 1, 2002
545  AZ  22314                          No Acquirer    February 7, 2002
546  OH   8966       The State Bank & Trust Company    February 1, 2002
547  TX  22002     The Security State Bank of Pecos    January 18, 2002
548  FL  24382     Israel Discount Bank of New York    January 11, 2002
549  AR  34248                   Delta Trust & Bank   September 7, 2001
550  IL  32646                Superior Federal, FSB       July 27, 2001
551  OH   6629                    North Valley Bank         May 3, 2001
552  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
553  IL   3815              Banterra Bank of Marion   December 14, 2000
554  HI  21029                   Bank of the Orient    October 13, 2000

           Updated Date
0     February 21, 2018
1     February 21, 2018
2         July 26, 2017
3        March 22, 2018
4      December 5, 2017
5         March 7, 2018
6          May 18, 2017
7          May 18, 2017
8    September 25, 2017
9          June 1, 2017
10    September 6, 2016
11    September 6, 2016
12       March 13, 2017
13    February 19, 2018
14         July 9, 2018
15    February 20, 2018
16        July 12, 2016
17         May 13, 2015
18       April 21, 2015
19    November 15, 2017
20    November 15, 2017
21      January 3, 2018
22    November 10, 2016
23      January 6, 2016
24    February 19, 2018
25    December 12, 2016
26      October 6, 2017
27    February 21, 2018
28    February 14, 2018
29        June 26, 2015
..                  ...
525     August 28, 2012
526     August 28, 2012
527    October 26, 2012
528  September 12, 2016
529     August 28, 2012
530    October 27, 2010
531       April 9, 2008
532       April 9, 2008
533      April 17, 2018
534       April 9, 2008
535     October 6, 2017
536        June 5, 2012
537    October 20, 2008
538    October 20, 2004
539      March 18, 2005
540  September 11, 2006
541     October 6, 2017
542   February 14, 2012
543      March 18, 2005
544       April 9, 2008
545    February 5, 2015
546    October 25, 2012
547    November 6, 2003
548  September 21, 2015
549     October 6, 2017
550     August 19, 2014
551   November 18, 2002
552   February 18, 2003
553      March 17, 2005
554      March 17, 2005

[555 rows x 7 columns]

In [21]:
whsSK=pd.read_html('https://en.wikipedia.org/wiki/List_of_World_Heritage_Sites_in_South_Korea')

In [22]:
whs_sk = whsSK[0] #grab dataframe from index 0
print(whs_sk)

                                                    0      1  \
0                                                Site  Image
1                               Baekje Historic Areas    NaN
2            Gochang, Hwasun and Ganghwa Dolmen Sites    NaN
3                        Changdeokgung Palace Complex    NaN
4                             Gyeongju Historic Areas    NaN
5   Haeinsa Temple Janggyeong Panjeon, the Deposit...    NaN
6      Historic Villages of Korea: Hahoe and Yangdong    NaN
7                                   Hwaseong Fortress    NaN
8                 Jeju Volcanic Island and Lava Tubes    NaN
9                                      Jongmyo Shrine    NaN
10                                     Namhansanseong    NaN
11                  Royal Tombs of the Joseon Dynasty    NaN
12      Sansa, Buddhist Mountain Monasteries in Korea    NaN
13               Seokguram Grotto and Bulguksa Temple    NaN

                                                    2                       3  \
0                                            Location                Criteria
1   South Chungcheong and North Jeolla36°27′43″N 1...      Cultural:(ii)(iii)
2   Incheon, North Jeolla and South Jeolla34°58′00...          Cultural:(iii)
3   Seoul37°33′00″N 126°59′00″E﻿ / ﻿37.55000°N 126...  Cultural:(ii)(iii)(iv)
4   North Gyeongsang35°47′20″N 129°13′36″E﻿ / ﻿35....      Cultural:(ii)(iii)
5   South Gyeongsang35°48′00″N 128°06′00″E﻿ / ﻿35....       Cultural:(iv)(vi)
6   North Gyeongsang36°32′21″N 128°31′00″E﻿ / ﻿36....      Cultural:(iii)(iv)
7   Gyeonggi37°16′20″N 127°00′30″E﻿ / ﻿37.27222°N ...      Cultural:(ii)(iii)
8   Jeju33°28′08″N 126°43′13″E﻿ / ﻿33.46889°N 126....     Natural:(vii)(viii)
9   Seoul37°33′00″N 126°59′00″E﻿ / ﻿37.55000°N 126...           Cultural:(iv)
10  Gyeonggi37°28′44″N 127°10′52″E﻿ / ﻿37.47889°N ...       Cultural:(ii)(iv)
11  Gyeonggi and Seoul37°11′50″N 128°27′10″E﻿ / ﻿3...  Cultural:(iii)(iv)(vi)
12  North Chungcheong, North Gyeongsang, South Chu...          Cultural:(iii)
13  North Gyeongsang35°47′00″N 129°21′00″E﻿ / ﻿35....        Cultural:(i)(iv)

                4     5            6
0   Areaha (acre)  Year  Description
1             NaN  2015          [9]
2               —  2000         [10]
3               —  1997         [11]
4             NaN  2000         [12]
5               —  1995         [13]
6             NaN  2010         [14]
7               —  1997         [15]
8             NaN  2007         [16]
9             NaN  1995         [17]
10            NaN  2014         [18]
11            NaN  2009         [19]
12            NaN  2018         [20]
13              —  1995         [21]

### #page with 1+ table

In [24]:
whsPH=pd.read_html('https://en.wikipedia.org/wiki/List_of_World_Heritage_Sites_in_the_Philippines')

In [37]:
whs_phl = whsPH[2] #grab dataframe from index 2, table 3 of the tentative WHS sites
print(whs_phl)

                                    0  \
0                     Type (criteria)
1               Natural: (vii)(ix)(x)
2       Cultural: (i)(iii)(iv)(v)(vi)
3                               Mixed
4              Cultural: (iii)(iv)(v)
5                Natural: (vii)(viii)
6                 Mixed: (iii)(ix)(x)
7                    Natural: (ix)(x)
8   Cultural: (i)(ii)(iii)(iv)(v)(vi)
9                   Natural: (vii)(x)
10                   Natural: (ix)(x)
11              Natural: (vii)(ix)(x)
12                   Natural: (ix)(x)
13                   Natural: (ix)(x)
14         Cultural: (ii)(iii)(iv)(v)
15                   Natural: (ix)(x)
16         Cultural: (ii)(iii)(iv)(v)
17                    Cultural: (iii)
18         Cultural: (ii)(iii)(iv)(v)
19                   Natural: (ix)(x)

                                                    1  \
0                                                Site
1                               Apo Reef Natural Park
2   Baroque Churches of the Philippines (Extension...
3          Batanes Protected landscapes and seascapes
4                          Butuan Archeological Sites
5                    Chocolate Hills Natural Monument
6                    Coron Island Natural Biotic Area
7      El Nido-Taytay Managed Resource Protected Area
8                          Kabayan Mummy Burial Caves
9                  Mayon Volcano Natural Park (MMVNP)
10                    Mounts Iglit-Baco National Park
11                 Mount Malindang Range Natural Park
12            Mount Mantalingajan Protected Landscape
13                          Mount Pulag National Park
14  Neolithic Shell Midden Sites in Lal-lo and Gat...
15  Northern Sierra Madre Natural Park and outlyin...
16  Paleolithic Archaeological Sites in Cagayan Va...
17  Petroglyphs and Petrographs of the Philippines...
18           The Tabon Cave Complex and all of Lipuun
19                  Turtle Islands Wildlife Sanctuary

                                     2                             3  \
0                             Location                        Period
1                             Sulu Sea             Pleistocene Epoch
2                    Various Locations        18th to 19th centuries
3                              Batanes  Pleistocene Epoch and 100 AD
4                     Agusan del Norte                  10th century
5                                Bohol             Pleistocene Epoch
6                              Palawan             Pleistocene Epoch
7                              Palawan             Pleistocene Epoch
8                              Benguet                        100 AD
9                                Albay             Pleistocene Epoch
10                             Mindoro             Pleistocene Epoch
11                  Misamis Occidental             Pleistocene Epoch
12                             Palawan             Pleistocene Epoch
13  Ifugao, Nueva Viscaya, and Benguet             Pleistocene Epoch
14                             Cagayan              Neolithic Period
15                             Isabela             Pleistocene Epoch
16                      Cagayan Valley            Paleolithic Period
17                  Multiple locations            Paleolithic Period
18                             Palawan            Paleolithic Period
19                           Tawi-Tawi             Pleistocene Epoch

                                                    4      5     6
0                                         Description  Image   Ref
1   The site is the second biggest producer of juv...    NaN  [14]
2   All five baroque churches have been declared a...    NaN  [15]
3   The Mahatao Church of Batanes is a declared Na...    NaN  [16]
4   The site exemplified and concretized the capab...    NaN  [17]
5   The site is the focal property of the proposed...    NaN  [18]
6   The site is within the Palawan UNESCO Biospher...    NaN  [19]
7   The site is within the Palawan UNESCO Biospher...    NaN  [20]
8   The site has been listed by the World Monument...    NaN  [21]
9   The site is the central property of the Albay ...    NaN  [22]
10        The site is a declared ASEAN Heritage Park.    NaN  [23]
11        The site is a declared ASEAN Heritage Park.    NaN  [24]
12  The site is part of the Palawan UNESCO Biosphe...    NaN  [25]
13  The site is the third highest point in the Phi...    NaN  [26]
14  The site is the largest shell midden zone in t...    NaN  [27]
15  The site is the largest national park in the P...    NaN  [28]
16  The site includes the location where the bone ...    NaN  [29]
17  The sites in Singnapan, Alab, and Angono have ...    NaN  [30]
18  The site is a declared National Cultural Treas...    NaN  [31]
19  The site is a major green sea turtle breeding ...    NaN  [32]

In [40]:
len(whsPH)

16