In [19]:
import numpy as np
import pandas as pd

# Dealing with Missing Values (NAs)

In [20]:
#create sample data
df = pd.DataFrame([[1,np.nan,2],[2,3,5],[np.nan,4,6]]) #data has no values (NAs) in some cells
#we need to remove NA or NaN from the data frame

In [21]:
print(df)

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [22]:
print(df.isnull())

       0      1      2
0  False   True  False
1  False  False  False
2   True  False  False

In [23]:
print(df.dropna()) #drop all the rows with NaN values

     0    1  2
1  2.0  3.0  5

In [24]:
print(df.dropna(axis = 1)) #drop all the columns with missing values

   2
0  2
1  5
2  6

In [25]:
#drop a column if all the its cells contain missing values
print(df.dropna(axis = 1, how = 'all'))

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [28]:
df1 = pd.DataFrame([[np.nan,np.nan,np.nan],[2,3,4],[np.nan,5,np.nan],[1,7,np.nan]])

In [29]:
print(df1)

     0    1    2
0  NaN  NaN  NaN
1  2.0  3.0  4.0
2  NaN  5.0  NaN
3  1.0  7.0  NaN

In [36]:
print(df1.dropna(thresh=2))

     0    1    2
1  2.0  3.0  4.0
3  1.0  7.0  NaN

## Filling no values (NA) cells

In [43]:
#fill NA entries with zero
print(df1.fillna(0))

     0    1    2
0  0.0  0.0  0.0
1  2.0  3.0  4.0
2  0.0  5.0  0.0
3  1.0  7.0  0.0

In [52]:
df1 = df1.fillna(method = "ffill")
print(df1)

     0    1    2
0  NaN  NaN  NaN
1  2.0  3.0  4.0
2  2.0  5.0  4.0
3  1.0  7.0  4.0

In [48]:
print(df1.fillna(method = "bfill"))

     0    1    2
0  2.0  3.0  4.0
1  2.0  3.0  4.0
2  2.0  5.0  4.0
3  1.0  7.0  4.0